-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."links" (
    "slug" VARCHAR NOT NULL,
    "url" VARCHAR NOT NULL,
    "expiresat" DATE,
    "visits" INTEGER,
    "id" SERIAL NOT NULL,

    CONSTRAINT "links_pk" PRIMARY KEY ("slug")
);

-- CreateIndex
CREATE UNIQUE INDEX "links_unique" ON "public"."links"("id");

